.row {
	display: flex;
	max-width: $grid-width;
	margin: 0 auto;

	.col-50 {
		width: 50%;
		
		&:not(:last-child) {
			margin-right: $gutter-vertical;
		}
	}

	.col-25 {
		width: 25%;
		
		&:not(:last-child) {
			margin-right: $gutter-vertical;
		}
	}
}