.row {
	display: flex;
	max-width: $grid-width;
	margin: 0 auto;

	@include screen(small) {
        flex-direction: column;
        max-width: 50rem;
        padding: 0 3rem;
    }

	&:not(:last-child) {
        margin-bottom: $gutter-horizontal;
    }
	
	.col-50 {
		width: 50%;
		
		&:not(:last-child) {
			margin-right: $gutter-vertical;
		}
	}

	.col-33 {
		width: 33.33%;
		
		&:not(:last-child) {
			margin-right: $gutter-vertical;
		}
	}

	.col-25 {
		width: 25%;
		
		&:not(:last-child) {
			margin-right: $gutter-vertical;
		}
	}

	[class^="col-"] {
		@include screen(small) {
	        width: 100%;

	        &:not(:last-child) {
				margin-right: 0;
				margin-bottom: 6rem;
			}
	    }
	}
}